<footer class="page-footer pt-4">
  <hr>
  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <img src="assets/images/fb.png" alt="facebook"/>
    </li>
    <li class="list-inline-item">
      <img src="assets/images/twitter.png" alt="twitter"/>
    </li>
    <li class="list-inline-item">
      <img src="assets/images/linkedin.png" alt="linkedin"/>
    </li>
    <li class="list-inline-item">
      <img src="assets/images/whatsapp.png" alt="whatsapp"/>
    </li>
  </ul>
  <!-- Social buttons -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a routerLink="/dashboard" style="color: white;">Disc At Home</a>
  </div>
  <!-- Copyright -->
</footer>
