<h3>User Registration</h3>
<div class="container py-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="firstName">First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.firstName.errors }"
              placeholder="Enter First Name here"
            />
            <div
              *ngIf="submitted && fval.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              placeholder="Enter Last Name here"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="userName">User Name</label>
            <input
              type="text"
              formControlName="userName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.userName.errors }"
              placeholder="Enter UserName here"
            />
            <div
              *ngIf="submitted && fval.userName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.userName.errors.required">
                UserName is required
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.password.errors }"
              placeholder="Enter Password here"
            />
            <div
              *ngIf="submitted && fval.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.password.errors.required">
                Password is required
              </div>
              <div *ngIf="fval.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="emailId">Email</label>
            <input
              type="text"
              formControlName="emailId"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.emailId.errors }"
              placeholder="Enter emailId here"
            />
            <div
              *ngIf="submitted && fval.emailId.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.emailId.errors.required">Email is required</div>
              <div *ngIf="fval.emailId.errors.email">
                Enter valid email address
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="contactNo">ContactNo</label>
            <input
              type="text"
              formControlName="contactNo"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.contactNo.errors }"
              placeholder="Enter ContactNo here"
            />
            <div
              *ngIf="submitted && fval.contactNo.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.contactNo.errors.required">
                ContactNo is required
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="streetName">Street Name</label>
            <input
              type="text"
              formControlName="streetName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.streetName.errors }"
              placeholder="Enter Street Name here"
            />
            <div
              *ngIf="submitted && fval.streetName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.streetName.errors.required">
                Street name is required
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="aptNo">Apt No</label>
            <input
              type="text"
              formControlName="aptNo"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.aptNo.errors }"
              placeholder="Enter Apt No Here"
            />
            <div
              *ngIf="submitted && fval.aptNo.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.aptNo.errors.required">Apt No is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <label for="state">State</label>
            <select formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.state.errors }" (change)="onChangeState($event.target.value)">
              <option value="">Select State...</option>
              <option *ngFor="let state of states" [value]="state.stateId">{{state.stateName}}</option>
            </select>
            <div *ngIf="submitted && fval.state.errors" class="invalid-feedback">
              <div *ngIf="fval.state.errors.required">State is required</div>
            </div>
          </div>

          <div class="col-sm-4">
            <label for="city">City</label>
            <select formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.city.errors }">
              <option value="">Select City...</option>
              <option *ngFor="let city of cities" [value]="city.cityId">{{city.cityName}}</option>
            </select>
            <div *ngIf="submitted && fval.city.errors" class="invalid-feedback">
              <div *ngIf="fval.city.errors.required">City is required</div>
            </div>
          </div>

          <div class="col-sm-4">
            <label for="zipCode">ZipCode</label>
            <input
              type="text"
              formControlName="zipCode"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.zipCode.errors }"
              placeholder="Enter ZipCode Here"
            />
            <div
              *ngIf="submitted && fval.zipCode.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fval.zipCode.errors.required">
                ZipCode is required
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row py-3">
          <div class="col-sm-6">
            <button [disabled]="loading" class="btn btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Register
            </button>
            <a routerLink="/login" class="btn btn-link">Login to continue</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
