/* You can add global styles to this file, and also import other style files */
.btn-primary{
  background-color: #FF3547;
  border-color:  #FF3547;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
  background-color: #FF3547;
  border-color:  #FF3547;
}
